* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
}

img {
    display: block;
    max-width: 100%;
}

button {
    border: none;
    cursor: pointer;
}
li{
    display: block;
}